@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}